<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Nelisa's Spaza Shop - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/main1.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/main2.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="brand">Nelisa's Spaza Shop</div>
        <div class="address-bar">E216 Phakamani Road E-Section Khayelitsha 7784</div>

        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo">
         <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand" href="main.handlebars">Nelisa Spaza Shop</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="http://localhost:3000/">Home</a>
                       
                        </li>

                        <li>
                            <a href="products">Products</a>

                        </li>

                        <li>
                            <a href="category">Categories</a>
                        </li>

                        <li>
                            <a href="Sale">Sales</a>
                        </li>

                        <li>
                            <a href="Supply">Suppliers</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        {{{body}}}
        <div class="container">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <div id="carousel-example-generic" class="carousel slide">
                            <h2 class="brand-before">
                                <small>Welcome to</small>
                            </h2>Nelisa Spaza Shop
                            <h1 class="brand-name"></h1>
                            <hr class="tagline-divider">
                            <h2>
                                <img class="img-responsive img-border img-center" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ22RNhIZRb7LHODsJ3JQl-ga-F-0JC051GnFf_UClHDdH-49RMew" alt="">
                                <hr class="visible-xs">
                                <p></p>
                            </div>
                        </div>
                    </div>
                        <li id="wp-admin-bar-jumptotop-button-menu">
                            <a class="ab-item" href="#">
                                <div id="jumptop" style="top: 0px;">
                                    <span class="noticon noticon-top"><img src="http://i.imgur.com/Uw9FIOK.png">
                                    </span>
                                </div>
                            </a>
                        </li>
                </div>

                <!-- jQuery -->
                <script src="/js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->


                <script src="/home/coder/Desktop/Projects/spaza-app/Nelisa.js"></script>
                <!-- Script to Activate the Carousel -->
                <script>
                    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
                </script>
    </body>


            </html>
