<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Bootstrap 101 Template</title>
  

  <!-- Bootstrap -->
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>

      </style>
    </head>
    <body>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nelisa Spaza</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><span class="navicon"><img src="http://i.imgur.com/4KRidiQ.png"></span>Home </a></li>

              <li class="dropdown open">
                <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#"><span class="navicon"><img src="http://i.imgur.com/4QjU5eU.png"></span>
                  Products
                </a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="most_popular_products">Most popular product</a></li>
                   <li><a href="least_popular_products">Least popular product</a></li>
                    <li><a href="mostpopularCategory">Most popular category</a></li>
                    <li><a href="leastpopularCategory">Least popular category</a></li>
                    <li><a href="earnings_per_product">Earnings Per Product</a></li>
                    <li><a href="earnings_per_category">Earnings Per Category</a></li>
                    <li><a href="most_profitable_product">Most profitable product</a></li>
                    <li><a href="most_profitable_category">Most profitable category</a></li>
                  </ul>
                </li>
                  <li><a href="/Nelisa Sales History"><span class="navicon"><img src="http://i.imgur.com/m97xFk9.jpg"></span>Purchases</a></li>
                  <li><a href="#"><span class="navicon"><img src="http://i.imgur.com/APBzehE.jpg"></span>Sales</a></li>
                  <li><a href="#"><span class="navicon"><img src="http://i.imgur.com/8aU2qsN.png"></span>Contacts</a></li>

                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

            <div class="container clearfix" role="main">
              <div id="w">
              <div class="row">
                <div class ="col-md-9">
                   {{{body}}}
              </div>
              </div>
             
            </div><!-- @end .container -->
           
          </div> <!--@end #w -->
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="js/bootstrap.min.js"></script>

        </body>
        </html>