 <table>
 <thead> 
        <th>Name</th> 
        <th>amt</th>  
    </thead> 
    <tbody> 
        {{#users}} 
        <tr> 
            <td>{{Product}}</td> 
            <td>{{Amount}}</td>  
        </tr> 
        {{/users}} 
    </tbody> 
</table> 