<table class="table">
	<tr>
                <th>Category Name</th>
                 <th>Total</th>
        </tr>
{{#category}}
        <tr>
        		<td>{{category_name}}</td>
                <td>{{Total}}</td>
               
        </tr>
{{/category}}
</table>