<h2>Category</h2>
{{groupCateg.name}}
{{groupCateg.CatName}}

<img src="http://i.imgur.com/7SmknZ5.jpg" title="source: imgur.com"  style="float:right margin-top:-10px" />
<img src="http://i.imgur.com/F7KWrZr.jpg" title="source: imgur.com" style="float:right margin-top:-10px"/><img src="http://i.imgur.com/0OpBSMK.jpg?1" title="source: imgur.com"  style="float:right margin-top:-10px" /><br />

<img src="http://i.imgur.com/XeJcBoC.jpg" title="source: imgur.com" style="float:right margin-top:-10px"/>