<h1>Edit</h1>

{{#category}}
<form action="/showCat/edit/{{Id}}" method="POST">
Description: <input type="text" name="category_name" value="{{category_name}}">   
<input type="submit">

</form>
{{/category}}