<table class="table">
	<tr>
		<th>Category ID</th>
                <th>Category Name</th>
        </tr>
{{#category}}
        <tr>
                <td>{{Id}}</td>
                <td>{{category_name}}</td>
        </tr>
{{/category}}
</table>