<form action="/showCat/add" method="POST">
        category_name: <input type="text" name="category_name">
        <input type="submit">
</form>
<table class="table">

    <tr>

                <th>Category Name</th>
        </tr>
{{#category}}
        <tr>
                <td>{{category_name}}</td>
                <td><button><a href="/showCat/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="/showCat/delete/{{Id}}">Delete</a></button></td>
        </tr>

{{/category}}
</table>
