<div class='search-form'>
<form action='/showCat/search' class='searchblog' method='post'>
    <input class='searchbar' name='category_name' placeholder='Search Here' size='15' type='text' x-webkit-speech='true'/>
<input class='searchsubmit' type='submit' value='Search'/>
</form>
</div>
{{#action}}
<div class="container-fluid">
    
                <div class="btn-group pull-right" >
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Menu
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="showpopCat">Most Popular Category</a></li>
                    <li><a href="showLeastCat">Least Popular Category</a></li>
                    <li><a href="CatgEarnings">Earnings Per Category</a></li>
                    <li><a href="#">Most Profitable Category</a></li></div>

    <table class="table">

    <tr>

                <th>Category Name</th>
        </tr>

{{#category}}
        <tr>

                <td>{{category_name}}</td>

{{/category}}
</table>
{{/action}}
{{#isAdmin}}
<h1>Add a Category</h1>
<div class="container-fluid">
    
                <div class="btn-group pull-right" >
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Menu
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="showpopCat">Most Popular Category</a></li>
                    <li><a href="showLeastCat">Least Popular Category</a></li>
                    <li><a href="CatgEarnings">Earnings Per Category</a></li>
                    <li><a href="#">Most Profitable Category</a></li>  </div>

<form action="/showCat/add" method="POST">
        <input type="text" name="category_name" placeholder=" category name" required>
        <input type="submit">
</form>
<table class="table">

    <tr>

                <th>Category Name</th>
        </tr>

{{#category}}
        <tr>

                <td>{{category_name}}</td>
                <td><button><a href="/showCat/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="/showCat/delete/{{Id}}">Delete</a></button></td>
        </tr>

{{/category}}

</table>
{{/isAdmin}}