<<<<<<< HEAD
<h1>earnings per product</h1>
<li>{{earningsPerProduct.name}}</li>
<li>{{earningsPerProduct.amt}}</li>

=======
<h1>Earnings Product</h1>
	{{earningsPerProduct.name}}
	{{earningsPerProduct.amt}}
>>>>>>> 65cd34ec4086e20e8d5e286ee543d9787ff0faa8
