<h1>Earnings Category</h1>
<!--{{#each earnings_category}}
	<p>{{this.name}}</p>
	{{this.quant}}

{{/each}}-->
<ul class="earnings_category">
  {{#each earnings_category}}
    <li>{{this.name}}</li>
     <li>{{this.quant}}</li>
  {{/each}}
</ul>