<div id="All earnings">
<table class="table">
        <tr>
                <th>Category Name</th>
                <th>Total earnings</th>
              
        </tr>
{{#EarningsPerCatego}}
        <tr>
                        <td>{{category_name}}</td>
                        <td>{{total_sold}}</td> 
        </tr>
{{/EarningsPerCatego}}
</table>