<table class="table">
	<tr>
                <th>Category name</th>
                <th>Total Quant</th>
        </tr>
{{#GroupCateg}}
        <tr>
        		<td>{{Category_name}}</td>
        		<td>{{no_sold}}</td>  
        </tr>
{{/GroupCateg}}
</table>