<h1>Least Popular Category</h1>
<h2>{{leastPopularCtg.name}}</h2>
<h3>Quantity Sold :{{leastPopularCtg.amt}}</h3>

<img src="http://i.imgur.com/F7KWrZr.jpg" title="source: imgur.com" style="float:right margin-top:-10px"/>