<table class="table">
	<tr>
                <th>Category Name</th>
                 <th>Total</th>
        </tr>
{{#LeastPopularCategory}}
        <tr>
        		<td>{{category_name}}</td>
                <td>{{total}}</td>
               
        </tr>
{{/LeastPopularCategory}}
</table>