<h1>Least Popular Products</h1>
<h2>{{leastPopular.name}}</h2>
<br>
<h3> Price : R15.00
<h3>Quantity Sold :{{leastPopular.amt}}</h3>

<img src="http://i.imgur.com/7SmknZ5.jpg" title="source: imgur.com"  style="float:right margin-top:-10px" />