<div id="Least popular Product">
<table class="table">
	<tr>
                <th>Product Name</th>
                <th>Total Quantity</th>
              
        </tr>
{{#Popularprod}}
        <tr>
        		<td>{{product_name}}</td>
        		<td>{{totalqty}}</td> 
        </tr>
{{/Popularprod}}
</table>
<img id="si_4" src="http://i.imgur.com/loLNWd6.jpg?1"  alt="" />
</div