<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="logo">
  <h6><i> Nelisa's Spaza Shop</i></h6>
</div>
<section class="Nelisa-login">

  <form action="" method="">
    <div id="fade-box">
      <input type="text" name="username" id="username" placeholder="Username" required>
      <input type="password" placeholder="Password" required>

      <button href="home">Log In</button>
    </div>
  </form>

<div id="circle1">
  <div id="inner-cirlce1">
   
  </div>
</div>

</body>
</html>

