<table class="table">
	<tr>
                <th>Product Name</th>
                <th>Total Quantity</th>
              
        </tr>
{{#mostPoPlar}}
        <tr>
        		<td>{{product_name}}</td>
        		<td>{{totalqty}}</td> 
        </tr>
{{/mostPoPlar}}
</table>
</div>