<table class="table">
	<tr>
                <th>Category name</th>
                <th>Total Quant</th>
        </tr>
{{#PopularCat}}
        <tr>
        		<td>{{category_name}}</td>
        		<td>{{no_sold)}}</td>  
        </tr>
{{/PopularCat}}
</table>