<h1>Most Popular Category</h1>
<h2>{{mostPopularCtg.name}}</h2>

<h3>Quantity Sold :{{mostPopularCtg.quant}}</h3>

<img src="http://i.imgur.com/XeJcBoC.jpg" title="source: imgur.com" style="float:right margin-top:-10px"/>
