<h1>most profitable category</h1>
<h2>{{mostProfitableCategory.name}}</h2>
<br/>
<h3>Quantity Sold:{{mostProfitableCategory.amt}}</h3>
<img src="http://i.imgur.com/RItuxWS.jpg" title="source: imgur.com"  style="float:right margin-top:-10px"/>