<h1>most profitable product</h1>
<h2>{{mostProfitableproduct.name}}</h2>
<br/>

<h3>Quantity Sold :{{mostProfitableproduct.amt}}</h3>

<img src="http://i.imgur.com/v2jsdvm.jpg" title="source: imgur.com"  style="float:right margin-top:-10px"/>