<<<<<<< HEAD
<h1>most profitable product</h1>
<h2>{{mostProfitableproduct.name}}</h2>
<br/>

<h3>Quantity Sold :{{mostProfitableproduct.amt}}</h3>

<img src="http://i.imgur.com/v2jsdvm.jpg" title="source: imgur.com"  style="float:right margin-top:-10px"/>
=======
<h1>Profitable Products</h1>
{{profitableProdct.name}}
{{profitableProdct.quant}}
>>>>>>> 65cd34ec4086e20e8d5e286ee543d9787ff0faa8
