<<<<<<< HEAD
<h1>most profitable category</h1>
<h2>{{mostProfitableCategory.name}}</h2>
<br/>
<h3>Quantity Sold:{{mostProfitableCategory.amt}}</h3>
<img src="http://i.imgur.com/RItuxWS.jpg" title="source: imgur.com"  style="float:right margin-top:-10px"/>
=======
<h1>Profitable category</h1>
<h2>{{mostProfitableCategory.name}}</h2>
<h2>{{mostProfitableCategory.quant}}</h2>
>>>>>>> 65cd34ec4086e20e8d5e286ee543d9787ff0faa8
