<h1>Most Popular Products</h1>
<h2>{{mostPopularProdct.name}}</h2>
<br>
<h3>Price : R3.00
<h3>Quantity Sold : {{mostPopularProdct.amt}}</h3>

<img src="http://i.imgur.com/0OpBSMK.jpg?1" title="source: imgur.com"  style="float:right margin-top:-10px" />