<table>
	<tr>
                <th>Product Name</th>
                <th>total quatity</th>
        </tr>
{{#mostPopular}}
        <tr>
        		<td>{{product_name}}</td>
                <td>{{no_sold totalqty}}</td>  
        </tr>
{{/mostPopular}}
</table>