<table class="table">
	<tr>
                <th>Product ID</th>
		<th>Category ID</th>
                <th>Product Name</th>
        </tr>
{{#product}}
        <tr>
                <td>{{Id}}</td>
                <td>{{Category_Id}}</td>
                <td>{{product_name}}</td>
        </tr>
{{/product}}
</table>
