<table class="table">
	<tr>
                <th>Product name</th>
                <th>Total Quant</th>
        </tr>
{{#GroupOfproducts}}
        <tr>
        		<td>{{product_name}}</td>
        		<td>{{total}}</td>  
        </tr>
{{/GroupOfproducts}}
</table>