{{#action}} 
<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Category Name</th>
    </tr>
    {{#product}}
        <tr>
            <td>{{product_name}}</td>
            <td>{{category_name}}</td>
        </tr>
    {{/product}}

 </table>                      
{{/action}}
