{{#isAdmin}} 
<form action="/products/add" method="POST">
   <input type="text" name="product_name" placeholder="product name"required> 
   <select name="Category_Id">
    {{#categories}}
    <option value="{{Id}}">{{category_name}}
    </option>
    {{/categories}}
</select>    
<input type="submit">
</form>


{{/isAdmin}}