<h1>Edit</h1>

{{#product}}
<form action="/products/edit/{{Id}}" method="POST">
	Description: <input type="text" name="description" value="{{product_name}}">	
     <input type="submit">
</form>
{{/product}}