<h1>Edit</h1>

{{#product}}
<form action="/products/edit/{{Id}}" method="POST">
<<<<<<< HEAD
	Description: <input type="text" name="description" value="{{product_name}}">	
     <input type="submit">
=======
	Description: <input type="text" name="product_name" value="{{product_name}}">	
	<input type="submit">

>>>>>>> f329bd4219a41a2a3b89e4c1b057390d66930a0d
</form>
{{/product}}
