  <table class="table">
	<tr>
		<th>Product-name</th>
		<th>Date</th>
		<th>Sales-price</th>
		<th>No-Sold</th>
	</tr>

	{{#search_sale}}
	<tr>
		<td>{{product_name}}</td>
		<td>{{date}}</td>
		<td>{{no_sold}}</td>
		<td>{{sale_price}}</td>
	</tr>
	{{/search_sale}}
 </table>