<table class="table">
	<tr>
		<th>Product Name</th>
		<th>Category Name</th>

	</tr>
	<tr>
	   {{#Prdsearch}} 
		 <td>{{product_name}}</td>
		 <td>{{category_name}}</td>
	   {{/Prdsearch}}
	</tr>
</table>   