<div class='search-form'>
    <form action='/Supply/search' class='searchblog' method='Post'>
        <input class='searchbar' name='shop' placeholder='Search Here' size='15' type='text' x-webkit-speech='true'/>
        <input class='searchsubmit' type='submit' value='Search'/>
    </form>
</div>
{{#action}}
<table class="table">

    <tr>
        <th>Shop</th>

    </tr>
    {{#suppliers}}
    <tr>

        <td>{{shop}}</td>
    </tr>
    {{/suppliers}}
</table>
{{/action}} 

{{#isAdmin}}
<h1>Add a supplier</h1>
<form action="/Supply/add" method="POST">
     <input type="text" name="shop" placeholder="Shop">     
    <input type="submit">
</form>

<table class="table">

    <tr>


        <th>Shop</th>

    </tr>
    {{#suppliers}}
    <tr>

      <td>{{shop}}</td>


      <td><button><a href="/Supply/edit/{{Id}}">Edit</a></button></td>
      <td><button><a href="Supply/delete/{{Id}}">Delete</a></button></td>
  </tr>
  {{/suppliers}}
</table>
{{/isAdmin}}