<div id="add-suppliers">
 <h1>Add a supplier</h1>
        <form action="/Supply/add" method="POST">
                Shop: <input type="text" name="shop">     
                <input type="submit">
        </form>
<table class="table">

    <tr>


                <th>Shop</th>
              
        </tr>
{{#suppliers}}
        <tr>

        		<td>{{shop}}</td>


            <td><button><a href="/Supply/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="Supply/delete/{{Id}}">Delete</a></button></td>
        </tr>
{{/suppliers}}
</table>

</div>