<table class="table">
	<tr>
                <th>supplier-Id</th>
                <th>Shop</th>
              
        </tr>
{{#supplier}}
        <tr>
        		<td>{{Id}}</td>
        		<td>{{Shop}}</td> 
        </tr>
{{/supplier}}
</table>