<table class="table">
    <tr>
                <th>Shop</th>
              
        </tr>
{{#supplier}}
        <tr>
                <td>{{shop}}</td>
            <td><button><a href="/showSuppl/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="showSuppl/delete/{{Id}}">Delete</a></button></td>
        </tr>
{{/supplier}}
</table>

        <h1>Add a supplier</h1>
        <form action="/showSuppl/add" method="POST">
                shop: <input type="text" name="shop">     
                <input type="submit">
        </form>
        
</div>