@import url('http://fonts.googleapis.com/css?family=Acme');

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html { overflow-y: scroll; }

  body { 
    background: url('http://www.sabc.co.za/wps/wcm/connect/2a165b004bb8141eaa1bbb4e20b1a252/Spaza(P).jpg?MOD=AJPERES&CACHEID=2a165b004bb8141eaa1bbb4e20b1a252'); 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%; 
    line-height: 1; 
    color: #535353;
    margin: 30px 0;
    background-size:cover;
  }

  br { display: block; line-height: 2.2em; } 

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }

  input, textarea { 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; 
  }

  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 

  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }


  h1 { 
    font-family: 'Acme', 'Trebuchet MS', Arial, sans-serif;
    font-size: 40px;
    line-height: 1.7em;
  }

  p {
    font-size: 1.4em;
    line-height: 1.45em;
    margin-bottom: 15px;
  }

  a { color: #6d8ec5; }
  a:hover { color: #8ca6d1; }

   #wpadminbar ul#wp-admin-bar-root-default>li {
    margin-right:0;
    color: red;
    text-decoration: none;
   }

    #w {
    display: block;
    width: 800px;
    background: #fff;
    /*text-align: center;*/
    vertical-align: center;
    padding: 8px 15px;
    opacity: 0.8;
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  #sidebar {
    display: block; 
    float: left;
    width: 150px;
    margin-right: 20px;
  }

  #maincontent {
    display: block;
    float: left;
    width: 552px;
  }

  .container {
    display: block;
    width: 100%;
    height: 375px;
  }



  #vertical-nav {
    display: block;
    overflow: hidden;
    height: 170px;
    background: #dbe4ee;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    transition: height: 0.4s linear;
  }
  #vertical-nav:hover {
    height: 280px;
  }

  #vertical-nav ul { list-style: none; }

  #vertical-nav ul li { display: block; font-size: 1.2em; font-weight: bold; }

  #vertical-nav ul li a { 
    text-decoration: none;
    color: #4f5e70;
    display: block; 
    padding: 8px 5px; 
  }
  #vertical-nav ul li a:hover {
    background: #fff;
  }


   horizontal navigation 
  #horizontal-nav {
    display: block;
    overflow: hidden;
    height: 38px;
    border: 1px solid #cdcdcd;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    transition: height: 0.2s linear; 
  }
  #horizontal-nav:hover {
    height: 65px;
  }

  #horizontal-nav ul { list-style: none; }
  #horizontal-nav ul li { display: block; float: left; width: 110px; }

  #horizontal-nav ul li a { 
    display:inline-block;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #5c789a;
    border-top: 3px solid #c1cddc;
  }
  #horizontal-nav ul li a:hover {
    border-top-color: #96bae6;
    background: #f3f6f9;
  }

  #horizontal-nav ul li a .navicon { display: block; width: 100%; text-align: center; margin-bottom: 4px; } 

  #linear-nav {
    display: block;
    overflow: hidden;
    height: 170px;
    background: #dbe4ee;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    box-shadow: inset 1px -8px 8px -9px rgba(0,0,0,0.7);
    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    transition: height: 0.4s linear;
  }

  #linear-nav:hover {
    height: 300px;
  }
/*
  #footer {
    display: block; 
    float: right;
    width: 400px;
    margin-left: -20px;
    margin-top: -310px;

  }
*/
  h2 {
    text-align: center;
    color: #369;
    font-size: 35px;
    font-weight: bold;
    font-height: 100%;
    font-family: 'Acme', 'Trebuchet MS', Arial, sans-serif;

  }
  h3 {
    text-align: center;
    color: #cc6578;
    font-size: 25px;
    font-weight: bold;
    font-height: 100%;
    font-family: 'Acme', 'Trebuchet MS', Arial, sans-serif;

  }
  .images {
   position:center;
 }
 .row {
  margin-right: -15px;
  margin-left: -15px;
 }
 @media (min-width: 992px)
 .col-md-6 {
   width: 50%;
   position: relative;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   float: left;
 }
a:hover, a:focus